<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../assets/css/style.css">
    <title>Choose Language</title>
</head>
<body class="flex justify-center items-center min-h-[80vh]">
    
    <form class="w-[90%]" id="languageSelectorForm">
        <select id="languageSelector" class="border border-sky-400 text-sm w-full rounded cursor-pointer p-0.5 outline-0">
            <option value="">Default</option>
        </select>
    </form>

    <script src="../../../assets/js/compulsory.js"></script>
    <script>

    const typeObj = {
    "abap": "ABAP",
    "abc": "ABC",
    "actionscript": "ActionScript",
    "ada": "Ada",
    "alda": "Alda",
    "apache_conf": "Apache Conf",
    "nginx": "Nginx",
    "apex": "Apex",
    "aql": "AQL",
    "asciidoc": "AsciiDoc",
    "asl": "ASL",
    "mips": "MIPS Assembly",
    "autohotkey": "AutoHotkey",
    "batchfile": "Batch File",
    "bibtex": "BibTeX",
    "c_cpp": "C/C++",
    "c9search": "C9Search",
    "cirru": "Cirru",
    "clojure": "Clojure",
    "cobol": "COBOL",
    "coffeescript": "CoffeeScript",
    "coldfusion": "ColdFusion",
    "crystal": "Crystal",
    "csharp": "C#",
    "csound document": "Csound Document",
    "csound": "Csound",
    "csound score": "Csound Score",
    "css": "CSS",
    "curly": "Curly",
    "d": "D",
    "dart": "Dart",
    "diff": "Diff",
    "django": "Django",
    "dockerfile": "Dockerfile",
    "dot": "DOT",
    "drools": "Drools",
    "edifact": "EDIFACT",
    "eiffel": "Eiffel",
    "ejs": "EJS",
    "elixir": "Elixir",
    "elm": "Elm",
    "erlang": "Erlang",
    "forton": "Forton",
    "fortran": "Fortran",
    "fsharp": "F#",
    "fsl": "FSL",
    "freemaker": "FreeMarker",
    "gcode": "G-code",
    "gherkin": "Gherkin",
    "gitignore": "Gitignore",
    "glsl": "GLSL",
    "gobstones": "Gobstones",
    "go": "Go",
    "graphsqlschema": "GraphQL Schema",
    "groovy": "Groovy",
    "haml": "Haml",
    "handlebars": "Handlebars",
    "haskell": "Haskell",
    "haskell cabel": "Haskell Cabal",
    "haxe": "Haxe",
    "hjson": "Hjson",
    "html": "HTML",
    "ini": "INI",
    "io": "Io",
    "ion": "Ion",
    "jack": "Jack",
    "jade": "Jade",
    "java": "Java",
    "javascript": "JavaScript",
    "jexl": "JEXL",
    "json": "JSON",
    "json5": "JSON5",
    "jsoniq": "JSONiq",
    "jsp": "JSP",
    "jssm": "JSSM",
    "jsx": "JSX",
    "julia": "Julia",
    "kotlin": "Kotlin",
    "latte": "Latte",
    "less": "LESS",
    "liquid": "Liquid",
    "lisp": "Lisp",
    "livescript": "LiveScript",
    "log": "Log",
    "logiql": "LogiQL",
    "logtalk": "Logtalk",
    "lsl": "LSL",
    "lua": "Lua",
    "luapage": "LuaPage",
    "lucene": "Lucene",
    "makefile": "Makefile",
    "markdown": "Markdown",
    "mask": "Mask",
    "objectivec": "Objective-C",
    "maze": "Maze",
    "mediawiki": "MediaWiki",
    "mel": "MEL",
    "mixal": "MIXAL",
    "mushcode": "MUSHCode",
    "sqlserver": "SQL Server",
    "nim": "Nim",
    "nix": "Nix",
    "nsis": "NSIS",
    "nunjucks": "Nunjucks",
    "ocaml": "OCaml",
    "partiql": "PartiQL",
    "pascal": "Pascal",
    "prolog": "Prolog",
    "php": "PHP",
    "pig": "Pig",
    "plsql": "PL/SQL",
    "powershell": "PowerShell",
    "praat": "Praat",
    "prisma": "Prisma",
    "properties": "Properties",
    "protobuf": "Protocol Buffers",
    "puppet": "Puppet",
    "python": "Python",
    "qml": "QML",
    "r": "R",
    "raku": "Raku",
    "razor": "Razor",
    "rdoc": "RDoc",
    "red": "Red",
    "rhtml": "RHTML",
    "robot": "Robot",
    "rst": "reStructuredText",
    "ruby": "Ruby",
    "rust": "Rust",
    "sac": "SAC",
    "sass": "Sass",
    "scad": "OpenSCAD",
    "scala": "Scala",
    "scheme": "Scheme",
    "scrypt": "SCrypt",
    "scss": "SCSS",
    "sh": "Shell Script",
    "sjs": "SJS",
    "slim": "Slim",
    "smarty": "Smarty",
    "smithy": "Smithy",
    "snippets": "Snippets",
    "soy_template": "Soy Template",
    "space": "Space",
    "sparql": "SPARQL",
    "stylus": "Stylus",
    "svg": "SVG",
    "swift": "Swift",
    "tcl": "Tcl",
    "terraform": "Terraform",
    "tex": "TeX",
    "text": "Plain Text",
    "textile": "Textile",
    "toml": "TOML",
    "tsx": "TSX",
    "turtle": "Turtle",
    "twig": "Twig",
    "typescript": "TypeScript",
    "vala": "Vala",
    "vbscript": "VBScript",
    "velocity": "Velocity",
    "verilog": "Verilog",
    "vhdl": "VHDL",
    "visualforce": "Visualforce",
    "wollok": "Wollok",
    "xml": "XML",
    "xquery": "XQuery",
    "yaml": "YAML",
    "zeek": "Zeek"
    }

    for (let i in typeObj) {
        let option = `<option value="${i}">${typeObj[i]}</option>`;
        _id("languageSelector").innerHTML += option;
    }

    const {ipcRenderer} = require("electron");

    _id("languageSelector").addEventListener("change", (e)=>{
        ipcRenderer.send("change-language-mode", _id("languageSelector").value);    
    })

    ipcRenderer.on("languageData", (event, data)=>{
        if (data.defaultValue == true || data.defaultValue == "true") {
            _id("languageSelector").value = "";
        }
        else {
            _id("languageSelector").value = data.mode;
        }
    })

        window.addEventListener("keydown", (e) => {
        if (e.altKey) {
            e.preventDefault();
        }
        if (e.keyCode == 27) {
          window.close();
        }
      });
    </script>
</body>
</html>