@tailwind base;
@tailwind components;
@tailwind utilities;

.navlist-item {
    @apply text-xs transition-all rounded-sm px-2 py-0.5 relative z-10;
}
.navlist-item-active {
    @apply bg-slate-300;
}
.navlist-sublist {
    @apply absolute bg-white shadow-lg left-0 rounded-md overflow-hidden hidden;
    animation: navlistSublistPlay 0.2s;
}
@keyframes navlistSublistPlay {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
}
.navlist-sublist li {
    @apply cursor-pointer px-4 py-2;
}
.navlist-item:hover .navlist-sublist {
    @apply block;
}

.tabitem {
    @apply bg-transparent px-4 py-1 h-full text-xs flex items-center;
}
.tabitem-active {
    @apply border border-b-4 border-t-0;
}

.tabscroll::-webkit-scrollbar {
    @apply w-full bg-transparent;
    height: 0.2rem;
}
.tabscroll::-webkit-scrollbar-thumb {
    @apply bg-gray-400 rounded-md;
}

.tabitem-close {
    @apply text-xs ml-1 px-1 py-0 hover:bg-gray-400 hover:text-white rounded-sm;
}

.panel-round {
    @apply w-3.5 h-3.5 rounded-full cursor-pointer;
}
.panel-round:hover {
    @apply brightness-75;
}
.panel-round-maximize {
    @apply bg-green-600;
}
.panel-round-minimize {
    @apply bg-yellow-400;
}
.panel-round-exit {
    @apply bg-red-600;
}

.navigationPaneSelector {
    @apply w-20 rounded-md border-gray-300 cursor-pointer object-cover;
}
.disableFrameNavigationColor {
    @apply pointer-events-none opacity-50;
}

.themeSelector {
    @apply inline-block p-1 border border-gray-300 rounded text-xs cursor-pointer mr-2 mb-2;
}
.themeSelector-active {
    @apply border-2 border-gray-600;
}
.textboxThemeBGImageSelector:hover .textboxThemeBGImageSelectorButtons {
    @apply flex
}
.textboxThemeBGImageSelectorParent::-webkit-scrollbar {
    width: 10px;
}
.textboxThemeBGImageSelectorParent::-webkit-scrollbar-thumb {
    background: rgba(70, 70, 70, 0.4);
}
.confirmModalParent {
    animation: confirmModalParent 0.6s;
}
@keyframes confirmModalParent {
    from {
        @apply opacity-0;
    }
}
.confirmModal {
    animation: confirmModal 0.6s;
}
@keyframes confirmModal {
    from {
        @apply -translate-y-6 opacity-0;
    }
}